<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ClinicScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="SiMed.Clinic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SiMed.Clinic.Properties.Settings.clinicConnectionString"
      connectionString="Data Source=sm-serv01\sql10_5_simplex;Initial Catalog=clinic10;User ID=sa;Password=Q12werty;"
      providerName="System.Data.SqlClient" />
    <!--add name="SiMed.Clinic.Properties.Settings.clinicConnectionString"
      connectionString="Data Source=192.168.15.19;Initial Catalog=clinic;User ID=simplex;Password=Siha38#g"
      providerName="System.Data.SqlClient" /-->
  </connectionStrings>
  <applicationSettings>
    <ClinicScheduler.Properties.Settings>
      <setting name="PathToReports" serializeAs="String">
        <value>\Reports</value>
      </setting>
      <setting name="PathToDocs" serializeAs="String">
        <value>\Forms</value>
      </setting>
      <setting name="PathToUtils" serializeAs="String">
        <value>\Utils</value>
      </setting>
      <setting name="LogFileName" serializeAs="String">
        <value>!ClinicSheduler.log</value>
      </setting>
      <setting name="ErrorLogFileName" serializeAs="String">
        <value>!ClinicShedulerError.log</value>
      </setting>
    </ClinicScheduler.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>